<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: url({{ site.background }});">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1566627740&di=049fc9f09ee146eba3a295a0d54e9cd7&imgtype=jpg&er=1&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201607%2F25%2F20160725130433_cyvnm.thumb.700_0.jpeg" class="img-circle" />
        <h3>{{ site.name }}</h3>
        <p>{{ site.description }}</p>
        <ul class="social">
            {% if site.github %}
            <a type="button" href="http://github.com/{{ site.github }}">
                <i class="fa fa-github"></i>
            </a>
            {% endif %} {% if site.twitter %}
            <a type="button" href="http://twitter.com/{{ site.twitter }}">
                <i class="fa fa-twitter"></i>
            </a>
            {% endif %} {% if site.linkedin %}
            <a type="button" href="http://linkedin.com/in/{{ site.linkedin }}">
                <i class="fa fa-linkedin"></i>
            </a>
            {% endif %} {% if site.pinterest %}
            <a type="button" href="http://pinterest.com/{{ site.pinterest }}">
                <i class="fa fa-pinterest"></i>
            </a>
            {% endif %} {% if site.facebook %}
            <a type="button" href="http://facebook.com/{{ site.facebook }}">
                <i class="fa fa-facebook"></i>
            </a>
            {% endif %}
        </ul>
    </div>
    <div class="posts">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
